.App {
  text-align: center;
}

.Grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Square{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}